

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a{color: black;}


h1{
  font-size: 26px;
}
h2{
  font-size: 24px;
  color: dimgrey;
}
h3{
  font-size: 24px;
}


* {
  padding: 0;
  margin: 0;
  font-family: W95FA;
  font-size: 100%;
  /*cursor: url("img/Cursor-Normal.png"), auto;*/
}

.App {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#screen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

  /*position: absolute;*/

  width: 100vw;
  /*height: 100vh;*/
  height: 100vh;
  /*height: auto;*/
  padding: 0;

  /*margin: auto;*/
  background: #008080;
}

#desktop-container {
  /*display: flex;*/
  overflow: hidden;
  flex: 1;
  /*background: purple;*/
}

#desktop-container .hidden{
  display: none;
  /*visibility: hidden;*/
}


button{
  padding: 5px;
  border: none;
  background: none;
  position: relative;
}

#taskbar {
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  position: relative;

  height: 50px;
  background: #c0c0c0;
  box-shadow: 0px -3px 0px #FFFFFF;
  z-index: 100;
}
.taskbar-button{
  position: relative;
  /*position: static;*/
  width: 160px;
  height: 80%;
  margin: 4px;

  padding: 0;

  background: #BFBFBF;
  box-shadow: inset -2px -2px 0 #000000, inset 2px 2px 0 #FFFFFF, inset -4px -4px 0 #808080, inset 4px 4px 0 #DBDBDB;
}
.taskbar-button:hover{
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
.button-selected {
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
  /*background: url("img/checkered.png");*/
  background: #DBDBDB;
}
.button-selected:hover{
  box-shadow: inset -2px -2px 0 #000000, inset 2px 2px 0 #FFFFFF, inset -4px -4px 0 #808080, inset 4px 4px 0 #DBDBDB;
}
.taskbar-button .container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*!*padding: 5px*/
}
.taskbar-button .container p{

}
.taskbar-button .container:hover{
  transform: translateY(3%) translateX(3%);
}
.taskbar-button.button-selected .container{
  transform: translateY(3%) translateX(3%);
}
.taskbar-button.button-selected .container:hover{
  transform: translateY(0%) translateX(0%);
}

#taskbar .start-menu{
  position: absolute;
  min-width: 440px;
  height: 54vh;

  top: -54vh;
  left: .1vw;

  background: #c0c0c0;
  box-shadow: inset -2px -2px 0px #000000, inset 2px 2px 0px #DBDBDB, inset -4px -4px 0px #808080, inset 4px 4px 0px #FFFFFF;
}

#start-button {
  position: relative;

  /*text-align: right;*/
  font-weight: bold;
  font-size: 26px;

  /*padding-right: 8px;*/
  padding: 0;

  width: auto;

  /*align-content: center;*/
  /*align-items: center;*/
  /*justify-content: right;*/
}
#start-button .container{
  display: flex;
  position: relative;

  height: inherit;
  width: inherit;
  padding: 5px 10px 5px 5px;
}
#start-button .container img{
  height: 100%;
  left: -100px;
  margin-right: 6px;
  margin-left: 3px;
}
#start-button .container:hover{
  transform: translateY(3%) translateX(3%);
}

#clock{
  display: flex;
  position: relative;
  width: 120px;
  height: 80%;
  margin: 4px;

  margin-left: auto;

  align-self: flex-end;

  align-items: center;

  transform: translateY(-1px) ;

  background: #C0C0C0;
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #808080;
}
#clock p{
  margin: auto;
  font-size: 26px;
}

/*#start-button p:hover{*/
/*    transform: translateY(3%) translateX(3%);*/
/*}*/

/*#start-button img:hover{*/
/*    transform: translateY(3%) translateX(3%);*/
/*}*/


.bar-separator {
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/

  width: 2px;
  height: 80%;
  margin: auto 5px auto;
  transform: translateY(-1px);

  background: #7B7B7B;
  box-shadow: 2px 0px 0px #FFFFFF;
}
.bar-separator2{
  width: 6px;
  height: 80%;
  margin: auto 5px auto;
  transform: translateY(-1px);

  background: #BDBDBD;
  box-shadow: inset -2px -2px 0px #7B7B7B, inset 2px 2px 0px #FFFFFF;
}


.window{
  position: absolute;


  /*max-width: 800px;*/
  width: 800px;
  /*max-height: 528px;*/

  padding: 6px 8px 10px;

  display: flex;
  flex-direction: column;

  background: #BFBFBF;
  box-shadow: inset -2px -2px 0px #000000, inset 2px 2px 0px #DBDBDB, inset -4px -4px 0px #808080, inset 4px 4px 0px #FFFFFF;
}
.window .blue-rectangle{
  display: flex;
  /*flex-wrap: wrap;*/
  position: relative;

  /*align-content: end;*/
  height: 23px;
  background: linear-gradient(270deg, #1085D2 0%, #00007B 100%);

  /*align-content: end;*/
  margin-bottom: 5px;

  color: white;
}
.window .windows-buttons{
  flex: 1;

  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.window .window-title{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.window .window-title p{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3px;
}
.window .window-content-container{
  flex: 1;
}



#About{
  left: 8%;
  top: 32%;
}
#Projects{
  left: 47%;
  top: 44%;
}
#Work{
  left: 55%;
  top: 46px;
  max-width: 600px;
}
#Education{
  left: 20%;
  top: 92px;
}


#About .window-content-container{
  display: flex;
  flex-direction: row;
  position: relative;
}
#About .image-container{
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 20px;
  /*align-content: center;*/
  /*align-items: center;*/

  flex: 1;
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
#About .image-container img{
  height: auto;
  width: 100%;

}
#About .details-container{
  flex: 2;
  padding: 15px;
  /*background: pink;*/
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
#About .socials-container{
  /*margin: 30px auto;*/
  display: flex;
  flex-direction: row;


  /*align-content: center;*/
  /*align-items: normal;*/
  justify-content: center;
}
#About .socials-container img{
  width: 100px;
  margin-top: 20px;
}
#About .socials-container img:hover{
  transform: scale(104%);
}


#Projects .project-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#Projects .project-container .project{
  position: relative;

  height: auto;

  /*padding: 2px 0 6px;*/

  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-content: center;*/
  /*align-items: center;*/

  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
#Projects .project-container .project a{
  position: relative;
  display: flex;

  height: 100%;

  flex-direction: column;
  /*justify-content: center;*/
  /*align-content: center;*/
  align-items: center;

  /*padding: 8px;*/
}
#Projects .project-container .project .image-container{
  display: flex;
  align-items: center;

  margin: 5px 5px 2px;
  flex: 8;
}
#Projects .project-container .project .text-container{
  flex: 1;
  margin: 3px 0 8px;
}
#Projects .project-container img{
  width: 100%;
  /*margin-bottom: 5px;*/
}
#Projects .project-container .project:hover{
  /*background: red;*/
  box-shadow: inset -2px -2px 0 #000000, inset 2px 2px 0 #FFFFFF, inset -4px -4px 0 #808080, inset 4px 4px 0 #DBDBDB;
}
#Projects .project-container .project a:hover{
  transform: translateY(-.5%) translateX(-.5%);
}



#Work .work-container{
  display: flex;
  flex-direction: row;

  margin: 6px 4px 12px;
  padding: 8px;
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
#Work .image-container{
  flex: 1;
  display: flex;
}
#Work .window-content-container img{
  width: 100%;
  margin: auto 0 auto;
}
#Work .details-container{
  flex-direction: column;
  flex: 3;
  padding: 15px;
  /*align-items: center;*/
  margin: auto 0 auto;
}




#Education .school-container{
  display: flex;
  flex-direction: row;

  margin: 6px 4px 12px;
  padding: 8px;
  box-shadow: inset -2px -2px 0px #FFFFFF, inset 2px 2px 0px #000000, inset 4px 4px 0px #808080, inset -4px -4px 0px #DBDBDB;
}
#Education .image-container{
  flex: 1;
  display: flex;
}
#Education .window-content-container img{
  width: 100%;
  margin: auto 0 auto;
}
#Education .details-container{
  flex-direction: column;
  flex: 3;
  padding: 15px;
  /*align-items: center;*/
  margin: auto 0 auto;
}
#Education .image-container{
  flex: 1;
}
